:root {
    --fontSize: 12px;
    --titleSize: 16px;
    --smallFont: 8px;
    --mySize: 14px;
    --up: #0ecb81;
    --down: #f6465c;
    --active: #3e4f9f;
    --headerBg: #171b2a;
    --priceBg: rgb(15, 33, 46);
    --priceBorder: solid 1px rgba(255, 255, 255, 0.1);
    --bgTransparent: transparent;
}

.exchange {

    .list-group-item {
        background-color: var(--bgTransparent) !important;
    }

    margin-top: 2vh;

    *:focus {
        outline: none !important;
    }


    .order-table {
        tbody {
            .sell:hover {
                td {
                    background-color: #ff8080a3;
                }
            }

            .buy:hover {
                td {
                    background-color: #80e8626b;
                }
            }
        }
    }


    .market-pairs {
        .search {
            margin: 15px 5% 15px 5%;
            width: 90%;
            background-color: var(--bgTransparent) !important;
            // border: none; //Bu kısıma bakılabilir (Geri döndürülebilir)
        }

        .order-table {
            thead {
                height: 35px;

                tr th {
                    font-size: var(--fontSize) !important;
                    font-weight: 300;
                    color: #758696;
                    height: 40px;
                    padding-bottom: 10px;
                    overflow: hidden;
                    white-space: nowrap;
                }
            }

            tbody tr {
                height: 40px;

                td {
                    padding-top: 10px;
                    color: #4a5157;

                    .fa-star {
                        color: #99991e !important;
                    }
                }

                .up {
                    color: green !important;
                }

                .down {
                    color: red !important;
                }
            }

            tbody .selected {
                td {
                    color: #005ad2 !important;
                }
            }
        }
    }

    .p-tabview-nav-container {
        .p-tabview-nav-content {
            .p-tabview-nav {
                width: 100%;
                background: var(--bgTransparent) !important;

                li:first-child:nth-last-child(0) {
                    /* -or- li:only-child { */
                    width: 100%;
                }

                /* two items */
                li:first-child:nth-last-child(3),
                li:first-child:nth-last-child(3)~li {
                    width: 50%;
                }

                /* three items */
                li:first-child:nth-last-child(4),
                li:first-child:nth-last-child(4)~li {
                    width: 33.3333%;
                }

                /* four items */
                li:first-child:nth-last-child(5),
                li:first-child:nth-last-child(5)~li {
                    width: 25%;
                }

                /* five items */
                li:first-child:nth-last-child(6),
                li:first-child:nth-last-child(6)~li {
                    width: 20%;
                }

                li {
                    text-align: center;

                    a {
                        min-height: 100%;
                        height: 40px;
                        font-size: var(--fontSize) !important;
                        background-color: var(--bgTransparent) !important;
                        border-radius: 0px;
                        font-weight: normal;
                        outline: none;
                    }

                    a:active,
                    a:focus {
                        outline: none;
                    }

                    i {
                        font-size: var(--fontSize) !important;
                    }

                    svg {
                        width: 0.9em !important;
                        // margin-top: -5px;
                        margin-right: 5px;
                    }
                }

                .p-tabview-nav-link {
                    padding: 0.4em !important;
                    border: 0px;
                    outline: none;
                    text-overflow: ellipsis;
                }

                .p-tabview-title {

                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }

                .p-highlight {
                    .p-tabview-nav-link {
                        color: #005ad2 !important;
                        font-weight: bold;
                        border-width: 0 0 2px;
                        border-bottom: 2px solid #005ad2;

                    }
                }
            }
        }
    }


    .coin-prices {
        width: 98%;
        float: left;
        //Eski renk kodu = #f5f9fc
        background-color: var(--bgTransparent) !important;
        border: 1px solid #ccc;
        margin: 0px 1% 15px 1%;

        .coin-title {
            width: 15%;
            float: left;
            font-size: var(--titleSize) !important;
            font-weight: bold;
            border-right: 1px solid #ccc;
            height: 100%;
            padding-top: 5px;
        }

        .coin-detail {
            width: 85%;
            float: left;
            height: 100%;

            .coin-info {
                float: left;
                width: 20%;
                padding-left: 5%;
                text-align: left;

                .title {
                    color: #758696;
                    font-weight: 500;
                    font-size: var(--fontSize) !important;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }

                .price {
                    color: var(--up) !important;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    font-size: var(--mySize) !important;
                }

                .up {
                    color: var(--up) !important;
                }

                .down {
                    color: var(--down) !important;
                }

                .info {
                    font-size: var(--fontSize) !important;
                    overflow: hidden;
                    white-space: nowrap;
                }
            }
        }
    }

    .trading-chart {
        height: 50vh !important;
    }


    @media only screen and (max-width: 991px) {
        .trading-chart {
            height: 25vh !important;
        }

        .coin-prices {
            width: 100%;

            .coin-title {
                width: 100%;
                height: auto;
                text-align: center;
                border-bottom: 2px dotted gray;
            }

            .coin-detail {
                width: 100%;

                .coin-info {
                    width: 100%;
                    border-bottom: 1px solid gray;
                    padding: 5px;
                    text-align: center;
                }
            }

        }


    }


}

@media screen and (max-width: 992px) {
    .mymarket-pairs {
        max-height: 90vh !important;
        overflow-x: auto;
    }
}

::v-deep {
    tr {
        max-height: 32px !important;
    }

    .mymarket-pairs tbody {
        height: 100% !important;
    }
}

@media screen and (max-width: 992px) {
    .market-pairs {
        max-height: 90vh !important;
        overflow-x: auto;
    }
}

.float-left {
    float: left !important;
}

.bordered {
    border: solid 1px lightgray;
    border-radius: 2%;
}

.bordered-bottom:not(last) {
    border-bottom: solid 1px lightgray;
}

@media screen and (min-width: 1200px) {

    .text-aligned-left {
        text-align: left !important;
    }

    .text-aligned-right {
        text-align: right !important;
    }

    .text-small {
        font-size: calc(1px + 6 * ((100vw - 280px) / 730));
    }
}

@media screen and (max-width: 1199px) {
    .text-aligned-left {
        text-align: center !important;
    }

    .text-aligned-right {
        text-align: center !important;
    }

    .text-small {
        font-size: calc(1px + 6 * ((100vw - 320px) / 500));
    }
}

@media screen and (max-width:979px) {
    .text-small {
        font-size: var(--titleSize) !important;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.my-wallet {
    padding: 10px;
    font-size: var(--mySize) !important;

    p {
        font-size: var(--fontSize) !important;
        margin: 0px;
    }

    .col {
        padding: 10px;
        text-align: center;
        align-items: center;
        align-content: center;
        justify-content: center;
    }

    @media screen and (min-width: 991px) {
        .wallet-title {
            -ms-transform: rotate(270deg);
            -moz-transform: rotate(270deg);
            -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
            letter-spacing: 0.1rem;
            width: 62px;
            height: 65px;
            font-size: var(--smallFont) !important;
            margin-right: -24px;
        }

        .text-smaller,
        .text-danger {
            // font-size: calc(2px + 6 * ((100vw - 320px) / 720));
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    @media screen and (max-width: 991px) {
        .wallet-title {
            height: 65px;
            margin-right: -24px;
            font-weight: 600;
            font-size: var(--smallFont) !important;
            width: 68px;
            letter-spacing: 0.1rem;
            -ms-transform: rotate(0);
            -moz-transform: rotate(0);
            -webkit-transform: rotate(0);
            transform: rotate(0);
            margin-top: 2vh !important;
        }

        .text-smaller {
            font-size: calc(12px + 6 * ((100vw - 320px) / 720));
        }
    }

    @media screen and (max-width: 575px) {
        .wallet-title {
            //   width: 69px;
            height: 65px;
            margin-right: -24px;
            font-weight: 700;
            font-size: var(--smallFont) !important;
            width: 68px;
            letter-spacing: 0.03rem;
            -ms-transform: rotate(0);
            -moz-transform: rotate(0);
            -webkit-transform: rotate(0);
            transform: rotate(0);
        }
    }
}

.pariy-banner {
    align-items: center;

    img {
        width: 100%;
        height: auto;
        max-width: 100%;
    }
}

.float-left {
    float: left !important;
}

.text-small {
    font-size: var(--fontSize) !important;

}

@media screen and (max-width: 1690px) and(min-width:992px) {

    .title,
    .price,
    .info {
        // font-size: 9px !important;
        overflow: hidden;
        white-space: nowrap;
        // text-align: center;
    }

    .d-xs-flex {
        display: none !important;
    }
}

@media screen and (max-width: 576px) {
    .d-xs-block {
        display: block !important;
    }

    .d-xs-flex {
        display: flex !important;
    }
}

@media screen and (min-width: 992px) {
    .d-xs-block {
        display: none !important;
    }

    .d-xs-flex {
        display: none !important;
    }
}

.float-right {
    float: right !important;
}

td.up {
    color: var(--up) !important;
}

td.down {
    color: var(--down) !important;
}

.card,
.list-group {
    border-radius: 0% !important;
    background: var(--bgTransparent) !important;
    border: none;
}

.p-tabview {
    .p-tabview-panels {
        background-color: var(--bgTransparent) !important;
    }
}

.btn.btn-outline-success.btn-sm.active {
    background-color: var(--up) !important;
}

.btn.btn-outline-success:hover {
    background-color: var(--up) !important;
}

.btn.btn-outline-danger.btn-sm.active {
    background-color: var(--down) !important;
}

.btn.btn-outline-danger:hover {
    background-color: var(--down) !important;
}

@media screen and (max-width:998px) {
    .exchange {
        .coin-prices {
            width: 100%;
            float: left;
            //Eski renk kodu = #f5f9fc
            background-color: var(--bgTransparent) !important;
            border: 1px solid #ccc;
            margin: 0;
        }
    }

}


.price-text{
    text-align: left !important;
    color: white !important;
}
.price-percent{
    text-align: right;
}
.price-vol{
    text-align: left;
    color:darkgray !important;
}

.up{
    color: var(--up) !important;
}

.down{
    color: var(--down) !important;
}