@font-face {
    font-family: "Ubuntu";
    src: url('../../fonts/Ubuntu/Ubuntu-Bold.ttf');
}

@font-face {
    font-family: Lustra;
    src: url('../../fonts/Lustra/Lustra-Bold.otf');
}

:root {
    --fontSize: 12px;
    --titleSize: 16px;
    --smallFont: 8px;
    --mySize: 14px;
    --up: #0ecb81;
    --down: #f6465c;
    --active: #3e4f9f;
    --headerBg: #171b2a;
    --priceBg: rgb(15, 33, 46);
    --priceBorder: solid 1px rgba(255, 255, 255, 0.1);
    --bgTransparent: transparent;
    --fontFamily: -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Open Sans',
        'Helvetica Neue',
        sans-serif;
    --headingFont:
        Ubuntu sans-serif !important;
    --lustraFont: Lustra !important;
    --white: white;
    --bodyBg: #f6f7f9;
}

.exchange {

    .list-group-item {
        background-color: var(--white) !important;
    }

    margin-top: 2vh;

    *:focus {
        outline: none !important;
    }


    .order-table {
        tbody {
            .sell:hover {
                td {
                    background-color: #ff8080a3;
                }
            }

            .buy:hover {
                td {
                    background-color: #80e8626b;
                }
            }
        }
    }


    .market-pairs {
        .search {
            margin: 15px 5% 15px 5%;
            width: 90%;
            background-color: var(--white) !important;
            // border: none; //Bu kısıma bakılabilir (Geri döndürülebilir)
        }

        .order-table {
            thead {
                height: 35px;

                tr th {
                    font-size: var(--fontSize) !important;
                    font-weight: 300;
                    color: #758696;
                    height: 40px;
                    padding-bottom: 10px;
                    overflow: hidden;
                    white-space: nowrap;
                }
            }

            tbody tr {
                height: 40px;

                td {
                    padding-top: 10px;
                    color: #4a5157;

                    .fa-star {
                        color: #99991e !important;
                    }
                }

                .up {
                    color: green !important;
                }

                .down {
                    color: red !important;
                }
            }

            tbody .selected {
                td {
                    color: #005ad2 !important;
                }
            }
        }
    }

    .p-tabview-nav-container {
        .p-tabview-nav-content {
            .p-tabview-nav {
                width: 100%;
                background: var(--white) !important;

                li:first-child:nth-last-child(0) {
                    /* -or- li:only-child { */
                    width: 100%;
                }

                /* two items */
                li:first-child:nth-last-child(3),
                li:first-child:nth-last-child(3)~li {
                    width: 50%;
                }

                /* three items */
                li:first-child:nth-last-child(4),
                li:first-child:nth-last-child(4)~li {
                    width: 33.3333%;
                }

                /* four items */
                li:first-child:nth-last-child(5),
                li:first-child:nth-last-child(5)~li {
                    width: 25%;
                }

                /* five items */
                li:first-child:nth-last-child(6),
                li:first-child:nth-last-child(6)~li {
                    width: 20%;
                }

                li {
                    text-align: center;

                    a {
                        min-height: 100%;
                        height: 40px;
                        font-size: var(--fontSize) !important;
                        background-color: var(--white) !important;
                        border-radius: 0px;
                        font-weight: normal;
                        outline: none;
                    }

                    a:active,
                    a:focus {
                        outline: none;
                    }

                    i {
                        font-size: var(--fontSize) !important;
                    }

                    svg {
                        width: 0.9em !important;
                        // margin-top: -5px;
                        margin-right: 5px;
                    }
                }

                .p-tabview-nav-link {
                    padding: 0.4em !important;
                    border: 0px;
                    outline: none;
                    text-overflow: ellipsis;
                }

                .p-tabview-title {

                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }

                .p-highlight {
                    .p-tabview-nav-link {
                        color: #005ad2 !important;
                        font-weight: bold;
                        border-width: 0 0 2px;
                        border-bottom: 2px solid #005ad2;

                    }
                }
            }
        }
    }


    .coin-prices {
        width: 98%;
        float: left;
        //Eski renk kodu = #f5f9fc
        background-color: var(--white) !important;
        border: 1px solid #ccc;
        margin: 0px 1% 15px 1%;

        .coin-title {
            width: 15%;
            float: left;
            font-size: var(--titleSize) !important;
            font-weight: bold;
            border-right: 1px solid #ccc;
            height: 100%;
            padding-top: 5px;
        }

        .coin-detail {
            width: 100%;
            float: left;
            height: 100%;

            .coin-info {
                float: left;
                width: 20%;
                // padding-left: 5%;
                text-align: left;

                .title {
                    color: #758696;
                    font-weight: 500;
                    font-size: var(--fontSize) !important;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }

                .price {
                    color: var(--up) !important;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    font-size: var(--mySize) !important;
                }

                .up {
                    color: var(--up) !important;
                }

                .down {
                    color: var(--down) !important;
                }

                .info {
                    font-size: var(--fontSize) !important;
                    overflow: hidden;
                    white-space: nowrap;
                }
            }
        }
    }

    .trading-chart {
        height: 50vh !important;
    }


    @media only screen and (max-width: 991px) {
        .trading-chart {
            height: 25vh !important;
        }

        .coin-prices {
            width: 100%;

            .coin-title {
                width: 100%;
                height: auto;
                text-align: center;
                border-bottom: 2px dotted gray;
            }

            .coin-detail {
                width: 100%;

                .coin-info {
                    width: 100%;
                    border-bottom: 1px solid gray;
                    padding: 5px;
                    text-align: center;
                }
            }

        }


    }


}

@media screen and (max-width: 992px) {
    .mymarket-pairs {
        max-height: 90vh !important;
        overflow-x: auto;
    }
}

::v-deep {
    tr {
        max-height: 32px !important;
    }

    .mymarket-pairs tbody {
        height: 100% !important;
    }
}

@media screen and (max-width: 992px) {
    .market-pairs {
        max-height: 90vh !important;
        overflow-x: auto;
    }
}

.float-left {
    float: left !important;
}

.bordered {
    border: solid 1px lightgray;
    border-radius: 2%;
}

.bordered-bottom:not(last) {
    border-bottom: solid 1px lightgray;
}

@media screen and (min-width: 1200px) {

    .text-aligned-left {
        text-align: left !important;
    }

    .text-aligned-right {
        text-align: right !important;
    }

    .text-small {
        font-size: calc(1px + 6 * ((100vw - 280px) / 730));
    }
}

@media screen and (max-width: 1199px) {
    .text-aligned-left {
        text-align: center !important;
    }

    .text-aligned-right {
        text-align: center !important;
    }

    .text-small {
        font-size: calc(1px + 6 * ((100vw - 320px) / 500));
    }
}

@media screen and (max-width:979px) {
    .text-small {
        font-size: var(--fontSize) !important;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.my-wallet {
    padding: 10px;
    font-size: var(--mySize) !important;

    p {
        font-size: var(--fontSize) !important;
        margin: 0px;
    }

    .col {
        padding: 10px;
        text-align: center;
        align-items: center;
        align-content: center;
        justify-content: center;
    }

    @media screen and (min-width: 991px) {
        .wallet-title {
            -ms-transform: rotate(270deg);
            -moz-transform: rotate(270deg);
            -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
            letter-spacing: 0.1rem;
            width: 62px;
            height: 65px;
            font-size: var(--smallFont) !important;
            margin-right: -24px;
        }

        .text-smaller,
        .text-danger {
            // font-size: calc(2px + 6 * ((100vw - 320px) / 720));
            font-size: var(--fontSize);
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    @media screen and (max-width: 991px) {
        .wallet-title {
            height: 65px;
            margin-right: -24px;
            font-weight: 600;
            font-size: var(--smallFont) !important;
            width: 68px;
            letter-spacing: 0.1rem;
            -ms-transform: rotate(0);
            -moz-transform: rotate(0);
            -webkit-transform: rotate(0);
            transform: rotate(0);
            margin-top: 2vh !important;
        }

        .text-smaller {
            font-size: calc(12px + 6 * ((100vw - 320px) / 720));
        }
    }

    @media screen and (max-width: 575px) {
        .wallet-title {
            //   width: 69px;
            height: 65px;
            margin-right: -24px;
            font-weight: 700;
            font-size: var(--smallFont) !important;
            width: 68px;
            letter-spacing: 0.03rem;
            -ms-transform: rotate(0);
            -moz-transform: rotate(0);
            -webkit-transform: rotate(0);
            transform: rotate(0);
        }
    }
}

.pariy-banner {
    align-items: center;

    img {
        width: 100%;
        height: auto;
        max-width: 100%;
    }
}

.float-left {
    float: left !important;
}

.text-small {
    font-size: var(--fontSize) !important;

}

@media screen and (max-width: 1690px) and(min-width:992px) {

    .title,
    .price,
    .info {
        // font-size: 9px !important;
        overflow: hidden;
        white-space: nowrap;
        // text-align: center;
    }

    .d-xs-flex {
        display: none !important;
    }
}

@media screen and (max-width: 576px) {
    .d-xs-block {
        display: block !important;
    }

    .d-xs-flex {
        display: flex !important;
    }
}

@media screen and (min-width: 992px) {
    .d-xs-block {
        display: none !important;
    }

    .d-xs-flex {
        display: none !important;
    }
}

.float-right {
    float: right !important;
}

td.up {
    color: var(--up) !important;
}

td.down {
    color: var(--down) !important;
}

.card,
.list-group {
    border-radius: 0% !important;
    background: var(--white) !important;
    border: none;
}

.p-tabview {
    .p-tabview-panels {
        background-color: var(--white) !important;
    }
}

.btn.btn-outline-success.btn-sm.active {
    background-color: var(--up) !important;
}

.btn.btn-outline-success:hover {
    background-color: var(--up) !important;
}

.btn.btn-outline-danger.btn-sm.active {
    background-color: var(--down) !important;
}

.btn.btn-outline-danger:hover {
    background-color: var(--down) !important;
}

@media screen and (max-width:998px) {
    .exchange {
        .coin-prices {
            width: 100%;
            float: left;
            //Eski renk kodu = #f5f9fc
            background-color: var(--white) !important;
            border: 1px solid #ccc;
            // margin: 0;
        }
    }

}


.price-text {
    text-align: left !important;
    color: white !important;
}

.price-percent {
    text-align: right;
}

.price-vol {
    text-align: left;
    color: darkgray !important;
}

.up {
    color: var(--up) !important;
}

.down {
    color: var(--down) !important;
}


td.text-success {
    color: var(--up) !important;
}

.text-danger-custom {
    color: var(--down) !important;
}

span.badge.bg-secondary {
    background-color: var(--priceBg) !important;
}

.input-group-text {
    background-color: var(--white) !important;
}

.mh-700 {
    min-height: 550px !important;
    max-height: 550px !important;
}

.carousel-caption {
    margin-bottom: 3vh !important;
}

.navbar-mobile {
    .btn-outline-secondary {
        border: none !important;
    }

}

.label {
    line-height: 20px;
    font-size: var(--mySize) !important;
    color: var(--priceBg) !important;
    user-select: none;
    font-weight: 500;
    margin-bottom: 4px !important;
}

.span {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
}

.input-container {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: inline-flex !important;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    -webkit-box-align: center;
    align-items: center;
    line-height: 1.6;
    background-color: #f5f5f5 !important;
    border-radius: 4px !important;
    border: solid 1px transparent;
    height: 48px;
    width: 100%;
}

.inputs {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    outline: none;
    border: none;
    background-color: inherit;
    opacity: 1;
    color: var(--priceBg) !important;
    font-size: var(--mySize) !important;
    border-radius: 4px !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
}

.border-left-1 {
    border: none !important;
    border-left: solid 1px rgba(0, 0, 0, 0.1) !important;
    border-radius: 0 !important;
    outline: none;
}

#carouselExampleIndicators {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .slideDetail {
        font-family: var(--lustraFont) !important;
    }
}

.service-container {
    .headings {
        font-family: var(--lustraFont) !important;
    }
}

#section0 {
    h2 {
        font-family: var(--lustraFont) !important;
    }
}

.crp-inventment-container {

    h2,
    h4 {
        font-family: var(--lustraFont) !important;
    }
}

.footer-container {
    .headings {
        font-family: var(--lustraFont) !important;
    }
}

.wallet {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: var(--lustraFont) !important;
    }
}

.dropbtn {
    background-color: var(--bgTransparent) !important;
    color: white;
    // padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    // left: -30px;
    background-color: #1c2b36;
    min-width: 160px;
    box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.3),
        0 6px 16px 0 rgba(0, 0, 0, 0.2),
        0 9px 28px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    border-radius: 4px;
    transform: translateX(-80px) scaleX(0.9);
    // margin-top: 6px !important;
}

.dropdown-content .nav-menu {
    padding: 6px 0;
    margin-bottom: 0;
    color: #fff;
    background-color: #1c2b36;
    border-radius: 2px;
    box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.3),
        0 6px 16px 0 rgba(0, 0, 0, 0.2),
        0 9px 28px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    list-style-type: none;
    min-width: 100px !important;
    text-align: center !important;
    font-size: var(--mySize) !important;
}

.dropdown-content a {
    color: white;
    padding: 12px 0;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid rgba(255, 255, 255, .06);
}

.dropdown-content a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--up) !important;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.dropdown-content2 {
    display: none;
    position: absolute;
    // left: -30px;
    background-color: #1c2b36;
    width: 250px !important;
    box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.3),
        0 6px 16px 0 rgba(0, 0, 0, 0.2),
        0 9px 28px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    border-radius: 4px;
    transform: translateX(-180px) scaleX(0.9);
    // margin-top: 6px !important;
}

.dropdown-content2 .nav-menu {
    padding: 6px 0;
    margin-bottom: 0;
    color: #fff;
    background-color: #1c2b36;
    border-radius: 2px;
    box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.3),
        0 6px 16px 0 rgba(0, 0, 0, 0.2),
        0 9px 28px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    list-style-type: none;
    min-width: 100px !important;
    text-align: left !important;
    font-size: var(--mySize) !important;
}

.dropdown-content2 a {
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid rgba(255, 255, 255, .06);
}

.dropdown-content2 a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--up) !important;
}

.dropdown:hover .dropdown-content2 {
    display: block;
}

.dropdown-content2 .user-top {
    margin-bottom: 4px;
    padding: 10px 20px !important;
    font-size: var(--titleSize) !important;
    line-height: 20px;
    color: #fff !important;
    text-align: left !important;
}

.dropdown-content2 .user-uid {
    margin-bottom: 4px;
    text-align: left !important;
    padding: 10px 20px !important;
    font-size: var(--titleSize) !important;
    line-height: 20px;
    color: #ccc !important;
}

header .nav-link {
    font-size: var(--mySize) !important;
}

@media screen and (max-width:1080px) {
    header .nav-link {
        font-size: var(--fontSize) !important;
    }
}

@media screen and(max-width:991px) {
    header .nav-link {
        font-size: var(--mySize) !important;
    }
}

.banners {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 268px;
    text-align: center;
    background: url('../../../assets/img/icon_banner/banner-bg.png') no-repeat top/1440px 284px;
}

.btn-call {
    min-width: 181px !important;
    height: 48px !important;
    font-size: var(--titleSize) !important;
}

.corporative-section {
    .btn-call {
        background-color: rgba($color: #0ECB81, $alpha: 0.8) !important;
        border-color: rgba($color: #0ECB81, $alpha: 0.8) !important;
    }

    .corporative-content {
        max-width: 1200px !important;
        margin: 0 auto !important;
    }

    .equities {
        display: grid !important;
        grid-template-columns: 1fr 1fr 1fr !important;
        grid-gap: 48px 108px;
        padding: 84px 0;
    }

    .corporative-row {
        row-gap: 0px !important;
        align-items: center !important;
        display: flex !important;
        flex-flow: row wrap !important;
        box-sizing: border-box !important;
    }

    .corporative-icon {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        width: 94px !important;
        height: 94px !important;
        margin-inline-end: 24px !important;
        border-radius: 50% !important;
        background-color: #f0efef !important;

        img {
            transform: scale(.5) !important;
        }
    }

    .institution-equity {
        max-width: 210px !important;
    }

    .institution_equity-paragraph {
        margin-bottom: 0;
        line-height: 18px !important;
        font-size: var(--mySize) !important;
        color: var(--headerBg) !important;
        max-width: 200px !important;
    }

    .institution_equity-title {
        margin-bottom: 11px !important;
        line-height: 20px !important;
        font-size: var(--mySize) !important;
        color: var(--headerBg) !important;
        max-width: 200px !important;
        overflow: hidden;
        // white-space: nowrap;
        text-overflow: ellipsis;
    }

    .marketMakerInfo {
        min-height: 600px !important;
        padding-top: 30px !important;
        margin-bottom: 48px !important;
        border: solid 1px #cddffa !important;
        background: url('../../../assets/img/icon_banner/market-maker-tip.png') no-repeat 100% 0/78px 78px,
            linear-gradient(180deg, #eaf2ff, #f9fbff);
    }

    .institution_marketMakerTitle {
        padding: 0 77px !important;
        margin-bottom: 46px !important;
        line-height: 30px !important;
        text-align: center;
        font-size: 24px !important;
        color: var(--headerBg) !important;
    }

    .institution_row_middle {
        align-items: center !important;
    }

    .institution_space_between {
        justify-content: space-between !important;
        row-gap: 0 !important;
    }

    .institution_row {
        display: flex;
        flex-flow: row wrap;
    }

    .institution_marketLevel1 {
        width: 416px;
        height: 426px;
        padding: 25px 25px 0;
        border: 1px solid #e5edfc;
        border-radius: 8px;
        background: url('../../../assets/img/icon_banner/market-maker-level1.png') no-repeat right 57px bottom/76.5px 132px,
            linear-gradient(180deg, #e1ebff, #fff);
    }

    .institution_marketLevel2 {
        width: 416px;
        height: 426px;
        padding: 25px 25px 0;
        border: 1px solid #d3f1fd;
        border-radius: 8px;
        background: url('../../../assets/img/icon_banner/market-maker-level2.png') no-repeat right 57px bottom/76.5px 132px,
            linear-gradient(180deg, #e1f7ff, #fff 100%, #fff 0);
    }

    .institution_col {
        position: relative;
        max-width: 100%;
        min-height: 1px;
    }

    .institution_marketMaker1_tip {
        margin-bottom: 9px !important;
        line-height: 18px !important;
        font-size: var(--mySize) !important;
        color: var(--headerBg) !important;
    }

    .institution_marketMaker1_title {
        margin-bottom: 46px !important;
        line-height: 44px !important;
        font-size: 36px !important;
        color: var(--up) !important;
    }

    .institution_marketMaker1_textTitle {
        margin-bottom: 10px !important;
        line-height: 18px !important;
        font-size: var(--mySize) !important;
        color: var(--headerBg) !important;

        span {
            color: #97a1a9 !important;
        }
    }

    .institution_marketMaker1_text {
        margin-bottom: 18px !important;
        line-height: 20px !important;
        font-size: var(--titleSize) !important;
        color: var(--headerBg) !important;
    }

    .fundingInfo {
        min-height: 456px;
        padding: 48px;
        border: 1px solid #faf3cd;
        border-radius: 18px;
        background: url('../../../assets/img/icon_banner/funding-tip.png') no-repeat 100% 0/78px 78px,
            url('../../../assets/img/icon_banner/funding-info-bg.png') no-repeat right 135px bottom 48px/279px 259.5px,
            linear-gradient(180deg, #fff9ea, #fffcf9);
    }

    .institution_fundingTitle {
        padding-right: 35px;
        margin-bottom: 24px;
        line-height: 38px;
        font-size: 32px;
        color: var(--headerBg) !important;
    }

    .institution_fundingDesc {
        max-width: 680px;
        margin-bottom: 15px;
        line-height: 30px;
        font-size: 24px;
        color: var(--headerBg) !important;
    }

    .btn-success {
        border-color: var(--up) !important;
        border-radius: 1px !important;
    }

    .instutional_info {
        padding: 36px 48px 65px;
        margin-bottom: 48px;
        border: 1px solid #cddffa;
        border-radius: 18px;
        background: url('../../../assets/img/icon_banner/market-maker-tip.png') no-repeat 100% 0/78px 78px,
            url('../../../assets/img/icon_banner/institutional-info-bg.png') no-repeat right 48px bottom/243px 245px,
            linear-gradient(180deg, #eaf2ff, #f9fbff);
    }

    .instutional_info_title {
        margin-bottom: 16px;
        line-height: 38px;
        font-size: 32px;
        color: var(--headerBg) !important;
    }

    .instutional_info_text {
        max-width: 948px;
        margin-bottom: 0;
        line-height: 22px;
        font-size: 18px;
        color: var(--headerBg) !important;
    }

    .instutional_info_tip {
        margin: 16px 0;
        line-height: 22px;
        font-size: 18px;
        color: #97a1a9 !important;
    }

    .instutional_apiInfo {
        min-height: 456px;
        padding: 83px 48px 65px;
        border: 1px solid #d3f1fd;
        border-radius: 18px;
        background: url('../../../assets/img/icon_banner/market-maker-tip.png') no-repeat 100% 0/78px 78px,
            url('../../../assets/img/icon_banner/api-info-bg.png') no-repeat right 86px bottom/355px 232px,
            linear-gradient(180deg, #e1f7ff, #f4fbfc);
    }

    .instutional_apiInfo {
        margin-bottom: 36px !important;
        line-height: 38px !important;
        font-size: 32px !important;
        color: var(--headerBg) !important;
    }

    .instutional_championBanner {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 412px;
        margin-bottom: 40px;
        background: url('../../../assets/img/icon_banner/champion-banner.png') no-repeat bottom/1440px 405px,
            linear-gradient(180deg, #fff9ea, #fffcf9);
    }

    .instutional_championTitle {
        max-width: 780px !important;
        margin-bottom: 32px !important;
        line-height: 58px !important;
        font-size: 48px !important;
        color: var(--headerBg) !important;
    }

    .instutional_championDesc {
        max-width: 780px !important;
        margin-bottom: 0 !important;
        line-height: 20px !important;
        font-size: 16px !important;
        color: #555b63 !important;
    }

    .instutional_championBannerInner {
        width: 100% !important;
        max-width: 1200px !important;
    }

    @media screen and (max-width:576px) {
        .instutional_championTitle {
            font-size: 24px !important;
        }
    }

    .instution_activityDate {
        margin-bottom: 48px !important;
    }

    .instution_dateItem {
        flex: 1 1;
        padding: 13px 18px;
        border-radius: 8px;
    }

    .instution_registrationItem {
        -webkit-margin-end: 73px !important;
        margin-inline-end: 73px !important;
        background: url('../../../assets/img/icon_banner/champion-date-registration-bg.png') no-repeat 100%/295px 73.5px,
            linear-gradient(180deg, #e1f7ff, #f4fbfc);
    }

    .instution_competitionItem {
        background: url('../../../assets/img/icon_banner/champion-date-competition-bg.png') no-repeat 100%/295px 73.5px,
            linear-gradient(180deg, #eaf2ff, #f9fbff);
    }

    .instution_dateTitle {
        margin-bottom: 12px !important;
        line-height: 18px !important;
        font-size: 14px !important;
        color: #555b63 !important;
    }

    .instution_dateDesc {
        margin-bottom: 0 !important;
        line-height: 20px !important;
        font-size: 16px !important;
        color: var(--headerBg) !important;
    }

    .instution_countdown {
        display: flex !important;
        flex-flow: column nowrap !important;
        align-items: center !important;
        margin-bottom: 24px !important;
    }

    .instution_countdownTitle {
        margin-bottom: 4px !important;
        line-height: 18px !important;
        font-size: 14px !important;
        color: #97a1a9 !important;
    }

    .instution_countdownTime {
        display: flex !important;
        // align-items: center !important;
        line-height: 60px !important;
        font-size: 48px !important;
        color: var(--headerBg) !important;
    }

    @media screen and(max-width:576px) {
        .instution_countdownTime {
            display: flex !important;
            // align-items: center !important;
            line-height: 60px !important;
            font-size: 36px !important;
            color: var(--headerBg) !important;
        }
    }

    .instution_countdownTime span {
        position: relative !important;
        width: 25px !important;
        height: 28px !important;
        // margin-top: 3px !important;
    }

    .instution_championHandler {
        margin-bottom: 48px !important;
        text-align: center !important;
    }

    .instution_championButton {
        // min-width: 350px !important;
        height: 48px !important;
        font-size: 16px !important;
    }

    .instution_championDescItem {
        margin-bottom: 48px !important;
    }

    .instution_championSubtitle {
        margin-bottom: 24px !important;
        line-height: 24px !important;
        font-size: 20px !important;
        color: var(--headerBg) !important;
    }

    .instution_championSubdesc {
        margin-bottom: 20px !important;
        line-height: 20px !important;
        font-size: 16px !important;
        color: var(--headerBg) !important;
    }

    .down {
        color: var(--down) !important;
    }

    .up {
        color: var(--up) !important;
    }

    .instution_moreContent {
        padding-top: 132px !important;
        text-align: center !important;
    }

    .instution_moreIcon {
        width: 56px !important;
        height: 56px !important;
        margin: 0 auto 38px !important;

        img {
            width: 100% !important;
            height: 100% !important;
        }
    }

    .instution_moreDesc {
        margin-bottom: 18px !important;
        line-height: 30px !important;
        font-size: 24px !important;
        color: var(--up) !important;
    }

    .instution_moreTip {
        margin-bottom: 0 !important;
        line-height: 30px !important;
        font-size: 24px !important;
        color: var(--headerBg) !important;
    }

    .nav-link.active {
        background: var(--bgTransparent) !important;
        color: var(--up) !important;
        border: none !important;
        font-weight: 700 !important;
    }

    .nav-link {
        border: none !important;
        color: var(--headerBg) !important;
    }

    .no-underline {
        text-decoration: none !important;
        color: white !important;
        align-items: center !important;
        padding-top: -2px !important;
    }

    .btn {
        padding: 0.625rem 0.75rem !important;
    }

}


@media screen and (max-width:1080px) {
    .corporative-section {
        .equities {
            display: grid !important;
            grid-template-columns: 1fr 1fr !important;
            grid-gap: 48px 108px;
            padding: 84px 0;
        }
    }

}

@media screen and (max-width:576px) {
    .corporative-section {
        .equities {
            display: grid !important;
            grid-template-columns: 1fr !important;
            grid-gap: 48px 108px;
            padding: 84px 0;
        }
    }
}

.tabs {
    .nav-fill {
        overflow-x: auto !important;
        white-space: nowrap !important;

        .nav-item {
            overflow: hidden !important;
            white-space: nowrap !important;
            text-overflow: ellipsis;
            min-width: 200px !important;
        }
    }

    .nav {
        flex-wrap: nowrap !important;
    }
}

.margin-bottom-400 {
    margin-bottom: 100px !important;
}

.wh-64 {
    width: 256px !important;
    height: 256px !important;
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}

#carouselExampleIndicators {
    @media screen and (max-width:900px) {
        h1 {
            font-size: 24px !important;
        }

        .wh-64 {
            width: 128px !important;
            height: 128px !important;
            -webkit-animation: spin 4s linear infinite;
            -moz-animation: spin 4s linear infinite;
            animation: spin 4s linear infinite;
        }
    }
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@media screen and (max-width:576px) {
 .d-576-block {
     display: block !important;
 }
 .d-576-none{
     display: none !important;
 }
}

@media screen and (min-width:576px) {
    .d-576-block {
        display: none !important;
    }

    .d-576-none {
        display: block !important;
    }
}

.text-right{
    text-align: right !important;
}

.text-justify{
    text-align: justify !important;
}