@media only screen and (max-width: 600px) {
    .wallet {
        .vs--single .vs__selected {
            font-size: 11px;

        }

        .scroll-pages {
            scroll-snap-type: x mandatory;
            display: flex;
            -webkit-overflow-scrolling: touch;
            overflow-x: scroll;
            width: 200%;

            .page:first-child {
                overflow-y: auto;
            }

            .page {
                border-right: 1px solid white;
                padding: 1rem;
                min-width: 85vw;
                height: 85vh;
                scroll-snap-align: start;
                text-align: center;
                position: relative;
                display: inline-block;
                width: 50%;

                thead,
                tbody,
                tfoot,
                tr,
                td,
                th {
                    font-size: 11px;
                }
            }
        }
    }
}

.myRounded {
    border-radius: 100% !important;
    border: solid 10px gainsboro;
}

.myDiv {
    width: 300px !important;
    height: 300px !important;
}

.myOverflow {
    max-height: 900vh !important;
    overflow-x: auto !important;
}

.float-left {
    float: left;
}

.myBackground {
    background-color: #dbdee6;
}

.rounded {
    border-radius: 0.35rem !important;
}

.smallest {
    font-size: 1vw !important;
}

.apexcharts-legend {
    text-align: left !important;
}

@media screen and (max-width: 576px) {
    .xs-center {
        text-align: center;
    }

    /* .wallet-coins {
    max-height: 5vh;
    overflow-x: auto;
  } */
    .myOverflow {
        max-height: 400px !important;
        overflow-x: auto !important;
    }

    .float-left {
        float: left;
    }

    .myBackground {
        background-color: #dbdee6;
    }

    .rounded {
        border-radius: 0.35rem !important;
    }

    .small {
        font-size: 2.3vw !important;
    }

    .myDiv {
        width: 200px !important;
        height: 200px !important;
    }

    // .myMargins {
    //     margin-top: -1.2vh !important;
    // }
}

@media screen and (max-width: 768px) and (min-width: 576px) {
    .myOverflow {
        max-height: 400px !important;
        overflow-x: auto !important;
    }

    .xs-center {
        text-align: center;
    }

    .float-left {
        float: left;
    }

    .myBackground {
        background-color: #dee0e6;
        opacity: 0.85;
    }

    .rounded {
        border-radius: 0.35rem !important;
    }

    .small {
        font-size: 2vw !important;
    }

    .myDiv {
        width: 250px !important;
        height: 250px !important;
    }

    // .myMargins {
    //     margin-top: -1.2vh !important;
    // }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
    .myOverflow {
        max-height: 400px !important;
        overflow-x: auto !important;
    }

    .xs-center {
        text-align: center;
    }

    .float-left {
        float: left;
    }

    .myBackground {
        background-color: #dee0e6;
        opacity: 0.85;
    }

    .rounded {
        border-radius: 0.35rem !important;
    }

    .small {
        font-size: 1.7vw !important;
    }

    // .myMargins {
    //     margin-top: -1.2vh !important;
    // }
}

.overflowed {
    font-size: var(--fontSize) !important;
    overflow: hidden;
    white-space: nowrap;
    //text-overflow: ellipsis;
}

.overflowed-table {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.overflowed-wallet {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.text-parities {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 24px !important;
    padding-top: auto !important;
    padding-bottom: auto !important;
}

#symbols {
    padding-top: .3vh !important;
}

.bg-blue {
    // background-color: #000461 !important;
    background-color: var(--active) !important;
}

.myMargins {
    margin-bottom: .5vh !important;
}

.list-group-item+.list-group-item.active {
    // background-color: #000461 !important;
    background-color: var(--active) !important;
    color: white !important;
}

.list-group-item+ {
    background-color: var(--white) !important;
    color: black !important;
}

@media screen and (max-width:576px) {
    .text-xs-center {
        text-align: center;
    }
}




@media screen and (min-width:576px) {

    .aligns-right {
        text-align: right !important;
    }
}

.wallet {
    .active {
        // background-color: #000461 !important;
        background-color: var(--active) !important;
        color: white !important;
    }
}

.btn-success {
    background-color: var(--up) !important;
}

.btn-danger {
    background-color: var(--down) !important;
}

.btn-primary {
    background-color: var(--active) !important;
}

.btn-secondary {
    background-color: var(--bgTransparent) !important;
    border-color: var(--bgTransparent) !important;
    color: white !important;
}

.bg-white-custom {
    background: var(--white) !important;
}

.accordion {
    .list-group-item {
        background-color: var(--white) !important;
    }
}

.myOverflow {
    .list-group-item {
        background-color: var(--white) !important;
    }

    .list-group-item.active {
        // background-color: #000461 !important;
        background-color: var(--active) !important;
        color: white !important;
    }
}


// .card-header{
//             background-color: var(--white) !important;
//         }

// .form-control, .form-check-input{
//     // background:var(--white) !important;
// }
