.order-table {
    thead {
        tr {
            th {
                font-size: 12px;
                overflow: hidden;
                white-space: nowrap;
            }
        }
    }

    tbody {
        tr {
            td {
                font-size: 13px;
                overflow: hidden;
                white-space: nowrap;
            }

            th {
                font-size: 12px;
                font-weight: normal;
                overflow: hidden;
                white-space: nowrap;
            }
        }
    }
}


